@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    background: #0562B0;
    min-height: 100vh;
    font-family: 'Inter Tight', sans-serif;
    color: black;
}

.book-generator-main {
    background-color: #7DAC4F;
    border-radius: 10px;
    box-shadow: inset 0 0 15px rgba(135, 135, 135, .1), 0 0 18px 3px rgba(0, 0, 0, .3);    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    margin: 50px 200px;
}

.info-gathering {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-gathering button {
    padding: 8px;
    border: 1px solid white;
    opacity: 75%;
}

.info-gathering button:hover {
    border: 1px solid whitesmoke;
}

#bookRec {
    height: 50px;
    margin: 20px 40px 0;
}

