body {
    background-color: #00AFB9;
}

.book-generator-main {
    height: 500px;
    width: 400px;
    background-color: #FDFCDC;
    margin-left: auto;
    margin-right: auto;
}

.info-gathering {
    text-align: center;
    padding: 20px;
}

.info-gathering input {
    border: 1px solid lightgrey;
}

.info-gathering button {
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid grey;
}

.info-gathering button:hover {
    border: 1px solid whitesmoke;
}

